:root {
    --lilac: #A6B6E5;
    --dark-purple: #423B7F;
    --light-pink: #EDCEE4;
    --light-gray: #B6BFC4;
    --dark-gray: #333;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--lilac);
    margin: 0;
    padding: 0;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--lilac);
    background-image: linear-gradient(to right, rgba(255,255,255,0.25) 1px, transparent 1px), linear-gradient(to bottom, rgba(255,255,255,0.25) 1px, transparent 1px);
    background-size: 25px 25px; 
}
header {
    background-color: var(-lilac);
    font-family: "Funnel Display", sans-serif;
    color: white;
    padding: 1em;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 2px 2px 0 var(--dark-purple), 2px -2px 0 var(--dark-purple), -2px 2px 0 var(--dark-purple), -2px -2px 0 var(--dark-purple), 2px 0px 0 var(--dark-purple), 0px 2px 0 var(--dark-purple), -2px 0px 0 var(--dark-purple), 0px -2px 0 var(--dark-purple);
}
h1 {
    font-size:  2.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: "Bai Jamjuree", sans-serif;
}
nav {
    display: flex;
    justify-content: center;
}
nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0;
    margin-bottom: 60px;
    justify-content: center;
}
nav ul li .link {
    background-color: var(--lilac);
    padding: 4px 8px;
    border-radius: 50px;
    border: 2px solid var(--dark-gray);
    box-shadow: 6px 6px 0px 0px var(--dark-gray);
    text-decoration: none;
    text-shadow: none;
    color: var(--dark-purple);
    font-family: "Funnel Display", sans-serif;
}
nav ul li .link:hover{
    background-color: white;
    box-shadow: 9px 9px 0px 0px var(--dark-gray);
}
nav ul li  .active_link {
    background-color: var(--light-pink);
}
main {
    padding: 2em;
    text-align: center;
    flex-grow: 1;
    align-content: center;
    margin-bottom: 67px;
    justify-content: center;
    display: flex;
}
p {
    margin: 0;
}
.level1 {
    font-family: "Funnel Display", sans-serif;
    color: var(--dark-purple);
    font-size: 2.25rem;
    margin-bottom: 25px;
}
.level2{
    color: var(--dark-purple);
    font-size: 1.25rem;
}
.level3{
    color: var(--dark-purple);
    font-size: 1rem;
    text-align: left;
}
.about p.level2 {
    text-align: left;
    font-weight: 800;
    margin-bottom: 20px;
}
.about p.level3 {
    margin-bottom: 20px;
}
.about p.level3 span.underline {
    text-decoration: underline;
}
.about ul {
    color: var(--dark-purple);
    font-size: 1rem;
    text-align: left;
    margin-top: -20px;
    padding-left: 1rem;
    align-self: start;
}
.about.browser {
    width: 650px;
}
.browser {
    background: #FFF5E2;
    max-width: 90%;
    width: 500px;
    height: 100%;
    border-radius: 15px;
    border: 2px solid var(--dark-gray);
    overflow: hidden;
    box-shadow: 10px 10px 0px 0px var(--dark-gray);
    margin: auto;
    transform: translateY(-55px);
}
.browser-top {
    width: 100%;
    height: 50px;
    background: var(--dark-purple);
    border-bottom: 2px solid var(--dark-gray);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 7px;
    padding-left: 15px;
}
.circle {
    background: #FFF5E2;
    border-radius: 50%;
    height: 18px;
    width: 18px;
}
.browser-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 25px 40px 25px;
}
footer {
    background-color: var(--dark-gray);
    color: white;
    font-family: "Courier Prime", monospace;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
    height:35px;
}
footer ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    justify-content: center;
    margin:0;
    padding:0;
}
footer a{
    color: white;
}
footer a:hover{
    color: var(--lilac);
}